/* ==========================================================================
   typo overrides
   ========================================================================== */
html,
body {
  height: 100%;
}
body {
  font-family: 'Droid Sans', sans-serif;
}
body #content .bodytext,
body #content p {
  color: #7f7f7f;
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 24px;
}
h1 {
  line-height: 60px;
  font-size: 30px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 300;
  color: #7f7f82;
  margin: 0 0 35px 0;
  padding: 0;
}
h1 a {
  line-height: 60px;
  font-size: 30px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 300;
  padding: 0px;
}
h1 a:hover {
  text-decoration: none;
  color: #7f7f82;
}
h2 {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 300;
}
h3 {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 300;
}
h4,
h5,
h6 {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 300;
}
/* ==========================================================================
   Layout
   ========================================================================== */
body,
html {
  position: relative;
  height: 100%;
}
#header {
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background: #ffffff;
}
#header .logo {
  padding-top: 25px;
}
#header .logo img {
  height: 60px;
}
#header.scroll {
  height: 50px;
}
#header.scroll .logo {
  padding: 7px 0 0 0;
}
#header.scroll .logo a img {
  height: 35px !important;
  width: auto;
}
#header.scroll .menu nav.top li a.fst {
  height: 50px;
  padding: 17px 0 0 40px;
}
#header.scroll .menu nav.top .dropdown-menu {
  top: 50px;
}
#header-image {
  margin-top: 100px;
  height: 430px;
  width: 100%;
  overflow: hidden;
}
#content {
  background-color: #eff4f9;
  min-height: 300px;
  padding-top: 25px;
  padding-bottom: 60px;
}
#content .teaser {
  position: relative;
}
#content .teaser .inner {
  border: 1px solid #fc6b02;
  position: relative;
}
#content .teaser .inner h1,
#content .teaser .inner h2,
#content .teaser .inner h3,
#content .teaser .inner h4,
#content .teaser .inner h5,
#content .teaser .inner h6 {
  display: block;
  height: auto;
  line-height: 110%;
  width: 100%;
  position: absolute;
  top: -20px;
  left: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: rgba(252, 107, 2, 0.7);
  padding: 20px;
}
#content .teaser .inner h1 a,
#content .teaser .inner h2 a,
#content .teaser .inner h3 a,
#content .teaser .inner h4 a,
#content .teaser .inner h5 a,
#content .teaser .inner h6 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
#content .teaser .inner .teaser-text {
  padding: 60px 20px 20px 20px;
  color: #7f7f7f;
  font-family: 'Droid Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 24px;
  text-decoration: none !important;
  border: 0 !important;
}
#footer {
  height: 200px;
  background: #7f7f82;
  width: 100%;
  border-top: 1px solid #1958a8;
}
#footer .copyright {
  text-align: center !important;
  font-size: 10px ;
  padding: 20px;
}
/* ==========================================================================
   navigation
   ========================================================================== */
nav.top {
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}
nav.top .navbar-nav {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  float: right;
  width: 100%;
  text-align: right;
  /* enable hover */
}
nav.top .navbar-nav > li {
  border: 0;
  margin: 0;
  padding: 0;
  float: none;
  display: inline-block;
  height: auto;
  background: none;
}
nav.top .navbar-nav > li .caret {
  display: none;
}
nav.top .navbar-nav > li:hover {
  border: 0;
  background: none;
}
nav.top .navbar-nav > li a.fst {
  font-family: 'Droid Sans', sans-serif;
  color: #1958a8;
  box-shadow: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  white-space: nowrap;
  text-shadow: none;
  background: none;
  text-decoration: none;
  display: block;
  height: 100px;
  padding: 40px 0 0 40px;
  text-align: left;
  margin: 0;
}
nav.top .navbar-nav > li:first-child a.fst {
  padding-left: 0;
}
nav.top .navbar-nav > li.active {
  color: #000000;
  background: none;
}
nav.top .navbar-nav > li a.fst:hover,
nav.top .navbar-nav .navbar-nav > li.active a.fst {
  color: #000000;
  background: none;
}
nav.top .navbar-nav li.dropdown:hover > ul.dropdown-menu {
  display: block !important;
}
nav.footer {
  margin: 0;
  padding: 0;
  float: right;
}
nav.footer ul {
  list-style: none;
  margin: 0;
  padding: 0 20px 0 20px;
  background: #fff0e6;
  float: right;
  text-align: right;
}
nav.footer ul li {
  float: left;
  margin: 0;
  padding: 0;
}
nav.footer ul li a {
  display: block;
  color: #1958a8;
  text-decoration: none;
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  height: 60px;
  text-align: center;
  padding: 8px 10px 10px 10px;
  margin: 0;
  background-image: url(../Img/nav-footer_sep.png);
  background-position: right 0px top 11px;
  background-repeat: no-repeat;
}
nav.footer ul li:last-child a {
  background-image: none;
}
/* ==========================================================================
    Responsive Helper
   ========================================================================== */
@media (min-width: 960px) {
  .navbar-toggle,
  .btn-top,
  a.nav-open {
    display: none !important;
  }
  a.mobile {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    position: relative;
  }
}
@media (min-width: 769px) and (max-width: 959px) {
  .btn-top,
  .navbar-toggle,
  a.nav-open {
    display: none !important;
  }
  a.mobile {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    position: relative;
  }
  /* navigation */
  nav.top {
    /* scaling: */
  }
  nav.top ul li a {
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
  }
  nav.top ul li a:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  #content .row.top {
    margin: 0px;
    margin-top: 30px;
    width: 100%;
    border: 0;
    padding: 10px;
  }
  #content .row.top .portrait {
    display: none;
  }
  #content .row.top .content.top p.bodytext {
    padding-right: 30px;
  }
  #content .row.top .content.top h1 {
    padding-bottom: 30px;
    margin-bottom: 20px;
    font-size: 30px;
  }
  a.mobile {
    text-decoration: underline;
  }
  /* navigation */
  .navbar-toggle {
    display: block;
    position: absolute;
    z-index: 99999;
    top: 5px;
    right: 8px;
    color: #fff;
    border: 0;
    background: none;
    font-size: 25px;
    padding: 0px;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    background: #000000;
  }
  .navbar-toggle #icon-remove.glyphicon {
    position: absolute;
    z-index: 2;
    top: 4px;
    right: 10px;
    width: 22px;
    height: 22px;
    color: #000000;
    display: none;
    font-family: 'Droid Sans', sans-serif;
    padding: 7px;
  }
  nav.top.navbar-default {
    display: none;
    position: absolute;
    overflow: hidden;
    z-index: 9999;
    left: 0;
    top: 60px !important;
    border: 0;
    width: 100%;
    -webkit-box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.5);
    height: auto;
    background-color: rgba(255, 255, 255, 0.95);
  }
  nav.top.navbar-default ul {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    float: none;
    width: 100%;
  }
  nav.top.navbar-default .navbar-nav > li {
    display: block;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
  }
  nav.top.navbar-default ul.lvl-1 > li a.fst {
    display: block;
    text-decoration: none;
    color: #000000;
    border-top: 0;
    border-bottom: 1px solid #7f7f82;
    margin: 0;
    padding: 20px 20px 20px 20px;
    width: 100%;
  }
  nav.top.navbar-default ul.lvl-1 > li > a:hover,
  nav.top.navbar-default ul.lvl-1 > li.active a {
    color: #000000 !important;
    border-top: 0 !important;
    border-bottom: 1px solid #7f7f82 !important;
    background-color: #c9c9c9 !important;
  }
  /* footer */
  #footer .btn-top {
    clear: both;
    display: block;
    margin-bottom: 50px;
  }
  #footer .btn-top span {
    display: block;
    border: 0;
    height: 60px;
    width: 60px;
    font-size: 60px;
    text-align: center;
    color: #fc6b02;
    cursor: pointer;
    margin: 80px auto 0 auto;
  }
}
