<f:layout name="default"/>
<f:section name="content">
    <div id="header-image">
        <f:cObject typoscriptObjectPath="lib.col_0"/>
    </div>
    <div id="content" class="animsition">
        <div class="container">
            <div class="row main">
                <div class="col-xs-12 content">
                    <section id="inhalt">
                        <f:cObject typoscriptObjectPath="lib.col_1"/>
                    </section>
                    <section id="teaser">
                        <f:cObject typoscriptObjectPath="lib.col_2"/>
                    </section>
                </div>
            </div>
        </div>
    </div>
</f:section>
