<f:comment>
    <f:debug>{files}</f:debug>
    <f:debug>{data}</f:debug>
    <f:debug>{settings}</f:debug>
</f:comment>

<div class="col-xs-12 col-sm-4 col-md-4 teaser">
    <f:link.page pageUid="{data.header_link}">
    <div class="inner">
        <h2>{data.header}</h2>
        <f:for each="{files}" as="image">
            <figure class="image">
                <f:image src="{image.uid}" class="img-responsive" alt="{image.originalResorce.alternative}" treatIdAsReference="1" width="{settings.image.width}" height="{settings.image.height}" />
            </figure>
        </f:for>
        <div class="teaser-text">
            {data.bodytext}
        </div>
     </div>
    </f:link.page>
</div>